{% extends "layouts/main.html" %}

{% set pageName = "Your email address" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form>
      {{ govukInput({
        id: "[new][emailAddress]",
        name: "[new][emailAddress]",
        label: {
          text: pageName,
          isPageHeading: true,
          classes: "govuk-label--l"
        },
        value: data.new.emailAddress,
        type: "email",
        autocomplete: "email",
        spellcheck: false
      }) }}
    </form>

    {{ govukButton({
      text: "Continue"
    }) }}

  </div>
</div>

{% endblock %}
